# Object files
prefetcher/l1i_prefetcher.cc
prefetcher/l1d_prefetcher.cc
prefetcher/l2c_prefetcher.cc
prefetcher/llc_prefetcher.cc
branch/branch_predictor.cc
replacement/llc_replacement.cc

inc/champsim.h.bak

# Directories
bin/
obj/
dpc3_traces/
launch/scripts/
results_50M/


# Dotfiles
.idea/
.vscode/
.DS_Store
*.swp
